

<div class=" content">
  <div class=" row">
    <div class=" col-md-6">
      <div class=" card">
        <div class=" card-header"><h4 class=" title">Details</h4></div>
        <div class=" card-body">
          <form>
            <div class=" row">
              <div class=" col-md-12 pr-md-3">
                <div class=" form-group">
                  <label> Name </label>
                  <input
                    class=" form-control address"
                    disabled=true
                    type="text"
                    value="Dora Arts Class"
                  />
                </div>
              </div>
            </div>
            <div class="row">
              <div class=" col-md-6 pl-md-2">
                <div class=" form-group">
                  <label for="exampleInputPhone"> Phone </label>
                  <input
                    class=" form-control address"
                    type="phone"
                    disabled=true
                    value="+917416213597"
                  />
                </div>
              </div>
              <div class=" col-md-6 pl-md-2">
                <div class=" form-group">
                  <label for="exampleInputEmail1"> Email address </label>
                  <input
                    class=" form-control address"
                    type="email"
                    disabled=true
                    value="dilip3dartist@gmail.com"
                  />
                </div>
              </div>

            </div>
            <div class=" row">
              <div class=" col-md-6 pr-md-1">
                <div class=" form-group">
                  <label> First Name </label>
                  <input
                    class=" form-control address"
                    placeholder="Dilip Kumar"
                    type="text"
                    disabled=true
                    value="Dilip Kumar"
                  />
                </div>
              </div>
              <div class=" col-md-6 pl-md-1">
                <div class=" form-group">
                  <label> Last Name </label>
                  <input
                    class=" form-control address"
                    placeholder="Uriti"
                    type="text"
                    disabled=true
                    value="Uriti"
                  />
                </div>
              </div>
            </div>
            <div class=" row">
              <div class=" col-md-12">
                <div class=" form-group">
                  <label> Address </label>
                  <input
                    class=" form-control address"
                    placeholder="2-78/19, KPR Colony, Puppalguda"
                    type="text"
                    disabled=true
                    value="2-78/19, KPR Colony, Puppalguda"
                  />
                </div>
              </div>
            </div>
            <div class=" row">
              <div class=" col-md-4 pr-md-1">
                <div class=" form-group">
                  <label> City </label>
                  <input
                    class=" form-control address"
                    placeholder="Hyderabad"
                    type="text"
                    disabled=true
                    value="Hyderabad"
                  />
                </div>
              </div>
              <div class=" col-md-4 px-md-1">
                <div class=" form-group">
                  <label> State </label>
                  <input
                    class=" form-control address"
                    type="text"
                    disabled=true
                    value="Telangana"
                  />
                </div>
              </div>
              <div class=" col-md-4 pl-md-1">
                <div class=" form-group">
                  <label> Postal Code </label>
                  <input
                    class=" form-control address"
                    placeholder="500089"
                    type="number"
                    disabled=true
                    value="500089"
                  />
                </div>
              </div>
            </div>
            <div clas="row" align="center">
              <div class=" button-container">
                <button
                  class=" btn btn-icon btn-round btn-facebook"
                  href="javascript:void(0)"
                >
                  <i class=" fab fa-facebook"> </i>
                </button>
                <button
                  class=" btn btn-icon btn-round btn-twitter"
                  href="javascript:void(0)"
                >
                  <i class=" fab fa-twitter"> </i>
                </button>
                <button
                  class=" btn btn-icon btn-round btn-google"
                  href="javascript:void(0)"
                >
                  <i class=" fab fa-google-plus"> </i>
                </button>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
    <div class="col-md-6">
      <div class=" card card-plain">
        <div class=" card-header">Google Maps</div>
        <div class=" card-body">
          <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3807.237232001592!2d78.3723021141064!3d17.400399188070804!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3bcb9418489db5db%3A0xe0172a1c32c03bdd!2s2-78%2F19%2C%20KPR%20Colony%2C%20Puppalguda%2C%20Telangana%20500089!5e0!3m2!1sen!2sin!4v1621075605864!5m2!1sen!2sin" width="100%" height="350" style="border: 0" allowfullscreen="" loading="lazy"></iframe>
        </div>
      </div>

    </div>
  </div>
</div>
