
<div class=" content">

  <div class="row">
    <div class=" col-md-6">
      <div class=" card card-user">
        <div class=" card-body">
          <p class=" card-text"></p>
          <div class=" author">
            <div class=" block block-one"></div>
            <div class=" block block-two"></div>
            <div class=" block block-three"></div>
            <div class=" block block-four"></div>
            <a href="javascript:void(0)">
              <img alt="..." class=" avatar" src="../../../assets/img/dilip.jpg" />

              <h5 class=" title">Dilip Kumar</h5>
            </a>
            <p class=" description">Faculty/Founder</p>
          </div>
          <div class=" card-description">
            Do not be scared of the truth because we need to restart the human
            foundation in truth.......
          </div>
        </div>
        <br />
      </div>
    </div>

    <div class=" col-md-6">
      <div class=" card card-user">
        <div class=" card-body">
          <p class=" card-text"></p>
          <div class=" author">
            <div class=" block block-one"></div>
            <div class=" block block-two"></div>
            <div class=" block block-three"></div>
            <div class=" block block-four"></div>
            <a href="javascript:void(0)">
              <img alt="..." class=" avatar" src="../../../assets/img/kiran.jpg" />

              <h5 class=" title">Kiranmai</h5>
            </a>
            <p class=" description">Faculty</p>
          </div>
          <div class=" card-description">
            Do not be scared of the truth because we need to restart the human
            foundation in truth. Do not be scared of the truth because we need to restart the human
            foundation in truth....
          </div>
        </div>

      </div>
    </div>
  </div>
</div>
